/* Body tag and increasing the text size */
body{
    font-family: Arial, Helvetica, sans-serif
}
body{font-size: 18px;}
/* Selecting Multiple elements */
header,footer {background-color:#4863A0 ;}
h3{color: #e2e2e2}
/* Class selector */
.site-title {color:#FFFFFF;}
.notes-title{color:#FFFFFF;}
/* id seletcor */
#my-image{box-shadow: 0 0 2px 1px black;}
/* replacing the bullets with squares */
ol li {list-style: square}
/* using the nth-child selector */
ol li:nth-child(odd){background-color: #2B60DE;}
/* Styling the navigation */
    /* Removing bullets and underline */
    nav li {list-style:none;}
    nav a {text-decoration: none;}
    /* Adding a background and border to the links  */
    nav ul li{background:#85B3D1FF;}
    nav ul{border: 1px solid black;}
    /* Changing the background on hover or focus of the links */
    nav li:hover,
    nav li:focus{background:#add8e6;}



