/* Body tag and increasing the text size */
body{
    font-family: Arial, Helvetica, sans-serif
}
.large text{font-size: 18px;}
/* Selecting Multiple elements */
header,footer {background-color:#4863A0 ;}
/* Class selector */
.site-title {color:#FFFFFF;}
/* id seletcor */
#my-image{box-shadow: 0 0 2px 1px black;}
/* replacing the bullets with squares */
ol li {list-style: square}
/* using the nth-child selector */
ol li:nth-child(odd){background-color: #2B60DE;}
/* Styling the navigation */
nav li {list-style:none;}
nav a {text-decoration: none;}
nav ul li{background-color:#539DC2;
nav li:hover,
nav li:focus{background:#add8e6;}



