/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
/* --------------------------------------------------------------------
                        CUSTOM STYLES
------------------------------------------------------------------------*/
/* Font for the entire website */
html{
    font-family: 'Open Sans', sans-serif;
}
:root{
	--primary-color: #393E41;
	--secondadry-color: #119DA4;
	--text-color: #D3D0CB;;
	}
a{
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav{
    color: var(--secondadry-color);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--text-color);
    font-size: 1.75rem;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--secondadry-color);
}
 /*--------------------------------------------
             Mobile Styles - Landing
 -----------------------------------------------*/
/* Movile styles for landing page */
.background-color{
    background-color: var(--primary-color);
}
.profile-pic{
    width: 100%;
    height: auto;
}
.hello, .landingpage-intro{
    color: var(--text-color);
    text-align: center;
}
.hello{
    font-size: 4rem;
}
.landingpage-intro{
    padding-top: 30px;
    font-size: 3rem;
    font-weight: 100;
}
.welcome{
    background-color: var(--secondadry-color);
    font-size: 2rem;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px ;
    border-radius: 55px;
    border: none;
}
.welcome-color{
    color: var(--text-color);
    text-decoration: none;
}
/*--------------------------------------------
             Mobile Styles - Home
 -----------------------------------------------*/
.logo{
    margin-left: 75px;
}
.navbar-toggler{
    background-color: var(--text-color);
}
.helicopter-image{
    height: 375px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 50px;
}
.home-intro{
    margin-left: 110px;
}
.camera{
    height: 275px;
    width: 275px;
    object-fit: cover;
}
.banner{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.title-home{
    color: var(--secondadry-color);
    font-size: 4rem;
}
.button-home{
    border: none;
    background-color: transparent;
    margin-bottom: 50px;
    margin-top: 45px;
}
/* inner button styles */
.about-me{
    background-color: var(--primary-color);
    color: var(--secondadry-color);
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px ;
    border-radius: 55px;
    border: none;
    text-decoration: none;
}
.about-text-home{
    padding-right: 120px;
    text-align: center;
}
.banner{
    height: 350px;
}
.banner-text{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    line-height: 45px;
    font-size: 2rem;
}
.second-heading{
    color: var(--secondadry-color);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 128px;
}
.favourites{
    color: var(--secondadry-color);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 130px;
}
.home-favourites{
    height: 274px;
    width: 274px;
    object-fit: cover;
    margin-left: 120px;
    margin-top: 15px;
}
.favorite-section{
    margin-bottom: 25px;
}
/* Footer styles for all the pages */
footer{
    background-color: var(--primary-color);
    height: 150px;
}
.footer-nav{
    display: flex;
    justify-content: flex-end;
}
.link-color{
    color: var(--text-color);
    text-decoration: none;
    padding-left: 25px;
    padding-right: 30px;
    position: relative;
    bottom: 30px;
}
.socialmedia-icons{
    max-width: 75px;
    padding-left: 30px;
    padding-top: 45px;
    display: inline;
    padding-top: 30px;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
    padding-right: 30px;
    padding-top: 20px;
}
/*--------------------------------------------
             Mobile Styles - About
 -----------------------------------------------*/
 h1.title{
     color: var(--secondadry-color);
     font-size: 4rem;
     font-weight: 500;
     margin-left: 100px;
     margin-top: 30px;
 }
 .title-about{
     color: var(--secondadry-color);
     font-size: 4rem;
     font-weight: 500;
     margin-left: 120px;
     margin-top: 30px;
 }
 p.about-text{
     text-align: center;
     margin-left: 30px;
     padding-right: 35px;
     margin-bottom: 45px;
     line-height: 25px;
 }
 .banner-about{
     height: 500px;
     text-align: center;
 }
 .aboutme{
    font-size: 1.5rem;
    line-height: 40px;
 }
 .outside-downlaod{
     border: none;
     background-color: var(--secondadry-color);
     font-size: 2rem;
     margin-left: 10px; 
     margin-top: 30px;
     margin-bottom: 100px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 55px;
     padding-right: 55px ;
     border-radius: 55px;
 }
 .download{
     border: none;
     text-decoration: none;
     color: white;
 }
 .second-heading{
     margin-left: 115px;
 }
 .graphic-heading{
    color: var(--secondadry-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 115px;
    margin-bottom: 25px;
}
 /* Making sure the images for both photography and the artwork are the same size */
.photograph-images{
    height: 285px;
    width: 285px;
    object-fit: cover;
    margin-left: 120px;
    margin-bottom: 20px;
}
.digital{
    height: auto;
    width: 285px;
    object-fit: cover;
    margin-left: 120px;
    margin-bottom: 20px;
    background-color: var(--secondadry-color);
    padding-bottom: 40px;
}
.description{
    margin-left: 220px;
    position: relative;
    bottom: 50px;
    color: white;
}

/*--------------------------------------------
             Mobile Styles - Contact
 -----------------------------------------------*/
 .contact-form{
     max-width: 70%;
     margin-left: 70px;
 }
 h1.title{
     margin-left: 70px;
 }
 .form-label{
     color: var(--secondadry-color);
     padding-top: 15px;
     font-weight: 600;
 }
 .text-area{
     resize: none;
     width: 100%;
     height: 250px;
 }
.button{
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    background-color: var(--secondadry-color);
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}
.submit{
    color: var(--text-color);
    font-size: 1.5rem;
}
/*--------------------------------------------
             Tablet Styles
 -----------------------------------------------*/
 @media only screen and (min-width: 768px){
    /* ------------------
        Landing Page
    -----------------*/
    .hello{
        font-size: 4.2rem;
    }
    .welcome{
        margin-left: 45px;
    }
    /* ------------------
        Home Page
    -----------------*/
    .logo{
        margin-left: 0px;
    }
    .camera{
        height: 356px;
        width: 356px;
        object-fit: cover;
    }
    .home-intro{
        display: flex;
        flex-wrap: wrap;
    }
    
    .banner-text{
        padding-top: 100px;
    }
    .favourites{
        margin-left: 330px;
    }
     /* ------------------
        About Page
    -----------------*/
    .navbar-light .navbar-nav .nav-link{
        display: flex;
        justify-content: flex-end;
        padding-right: 35px;
    }
    .title-about{
        font-size: 4.3rem;
        font-weight: 700;
        text-align: center;
    }
    .aboutme-section{
        display: flex;
    }
    .profile-pic{
        width: 45%;
        margin-left: 35px;
    }
    .about-text{
        padding-top: 125px;
    }
    .banner-text{
        padding-top: 140px;
    }
    .photography{
        display: flex;
        flex-wrap: wrap;
    }
    .second-heading, .graphic-heading{
        margin-left: 350px;
    }
    .grahphic-design{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "one two"
        "three four"
        "five six"; 
    }
    .digital-background:nth-child(1){
        grid-area: one;
    }
    .digital-background:nth-child(2){
        grid-area: two;
    }
    .digital-background:nth-child(3){
        grid-area: three;
    }
    .digital-background:nth-child(4){
        grid-area: four;
    }
    .digital-background:nth-child(5){
        grid-area: five;
    }
    .digital-background:nth-child(6){
        grid-area: six;
    }
    h3.description{
        text-align: center;
        margin-left: 55px;
    }   
    /* ------------------
        Contact Page
    -----------------*/
    .form{
        margin-left: 100px;
    }
}
/*--------------------------------------------
             Desktop Styles
 -----------------------------------------------*/
 @media only screen and (min-width: 992px){
/* ---------------------------
        Landing page
----------------------------*/
    .grid-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "one two";
    }
    .grid-item:nth-child(1){
        grid-area: one;
    }
    .grid-item:nth-child(2){
        grid-area: two;
    }
    button.welcome:hover, .welcome-color:hover{
        background-color: var(--text-color);
        color: var(--primary-color);
    }
     /* .profile-pic{
        width: 100%; 
        height: auto;
    }  */
    .navbar-light .navbar-nav .nav-link{
        display: flex;
        justify-content: flex-end;
    }
 /* ---------------------------
        Home Page
----------------------------*/
    img.helicopter-image{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    .favourites{
        text-align: center;
        margin-right: 350px;
    }
 /* ---------------------------
        About Me 
----------------------------*/
    p.about-text{
        line-height: 65px;
    }
    /* using flex to horizontally align items in the banner */
    .banner-about{
        display: flex;
        height: 350px;
    }
    .outside-downlaod{
        height: 100px;
        margin-right: 75px;
        margin-top: 130px;
    }
    /* adding a hover to allow for user interactvity */
    .outside-downlaod:hover{
        background-color: var(--text-color);
    }
    /* Photography grid for desktop 2 by 3 grid to make it easier to view */
    .photography{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "one two three"
        "four five six";    
    }
    .photograph-images:nth-child(1){
        grid-area: one;
    }
    .photograph-images:nth-child(2){
        grid-area: two;
    }
    .photograph-images:nth-child(3){
        grid-area: three;
    }
    .photograph-images:nth-child(4){
        grid-area: four;
    }
    .photograph-images:nth-child(5){
        grid-area: five;
    }
    .photograph-images:nth-child(6){
        grid-area: six;
    }
    /* graphic design grid for desktop 2 by 3 grid  */
    .grahphic-design{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "one two three"
        "four five six"; 
    }
    .digital-background:nth-child(1){
        grid-area: one;
    }
    .digital-background:nth-child(2){
        grid-area: two;
    }
    .digital-background:nth-child(3){
        grid-area: three;
    }
    .digital-background:nth-child(4){
        grid-area: four;
    }
    .digital-background:nth-child(5){
        grid-area: five;
    }
    .digital-background:nth-child(6){
        grid-area: six;
    }
    /* Centering both the photography and graphic design header  */
    .second-heading, .graphic-heading{
        text-align: center;
        margin-right: 400px;
        padding-bottom: 40px;
        }
    }