/* Body setup with font family and background color */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin-left: 15%;
    margin-right: 15%;
}
section{
    padding: 10px;
}
/* Background colour of text */
article{
    background-color:#d4e9e7;
}
/* Centering image for far away image */
.center{ 
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
/* Header - positioning site title ontop of image */
.Centered{
    display: block;
    position: absolute;
    top: 60%;
    left: 0%;
    transform: translate(-50%, -50%);
}
h1{
    position:absolute;
    top: 30%;
    margin: 0 auto;
    width: 100%;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: normal;
}
h2{
    font-weight: normal;
    font-size: 25px;
}
h3{
    font-weight: normal;
    font-size: 20px;
}
img{
    width: 100%
}
/* Container holding the starfish image and the title */
.container-2{
    position: relative;
    text-align: center;
}
/* Navigation */
table{
    width: 100%;
    text-align: center;
}
td{
    /* border-right: 1px solid black; */
    font-size: 20px;
    padding: .3em
}
a{
    text-decoration: None;   
}
nav td:hover{ 
     background: #85B3D1FF;
 } 
/* Life of a starfish */
article .close-starfish{
    padding: 0 10px 0 0;
    max-width: 20%;
    float: left;
}
.clearfix{
    overflow: auto;
    clear: both;
}
/* List */
ul{
 list-style: inside;
 padding-left: 0%;
}
/* Styling the Contact section */
/* Container for the box */
.container{
    border: 1px solid black;
    padding: 1em;
}
div input{
    padding-right: 80%;
    padding-bottom: 0%;
}
.message-box{
    width: 100%; 
    resize: none;
    height: 150px;
}
.forms{
    max-width: 20%;
}
.button{
    background-color: #d4e9e7; 
    padding: .7em;
    font-size: 10px;
    display: inline-block;
}
/* copy right */
.text-align-right{
    text-align:right;
}
