/* Body setup with font family and background color */
body{
    font-family: sans-serif;
    background-color: #aad4cf;
    margin-left: 15%;
    margin-right: 15%
}
/* Background colour of text */
article{
    background-color:#d4e9e7;
}
/* Centering image for far away image */
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
/* Header - positioning site title ontop of image */
.Centered{
    position: absolute;
    top: 23%;
    left: 43%;
    transform: translate (-50%, -50%);
}
h1{
    color: #FFFFFF;
    font-size: 39px;
}
/* Navigation */
.home {
    float: none;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate (-50%, -50%);
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.story {
    float: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate (-50%, -50%);
    text-decoration: none;
    font-size: 25px;
    color: red;
}
.contact {
    float: none;
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate (-50%, -50%);
    text-decoration: none;
    font-size: 25px;
    color: red;
}
article .close-starfish{
    float: left;
    padding: 0 10px 0 0;
    max-width: 25%;
    height: auto;
}
.text-align-right{
    text-align:right;
}
.button{
    background-color: #d4e9e7;
    
}
