/* -------------------------
            CSS RESET 
---------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------
        CUSTOM STYLES  
------------------------------*/
/* ----------- 
    Mobile
--------------*/
html{
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}
    /* Navigation */
    .star-logo{
        background-color: #c78c06;
        padding: 1rem;
    }
    .navigation{
        background-color: #222;        
        list-style: none;
        text-decoration: none;
        padding: 50px;
    }
    .nav-styles{
        text-align: center;
    }
    .orange-rectangle{
        background-color: #c78c06;
        padding: 8px;
    }
    ul, li{
        padding: 10px;
    }
    li:hover{
        background: #c78c06;
        padding: 15px;
    }
    li:focus{
        color: #222;
    }
    .search-bar{
        width: 85%;
        padding: 10px;
    }
    .im-magnifier{
        background:  #c78c06;
    }
    /* Banner image */
    .main-banner{
        width: 100%;
        color: aquamarine;
    }
    .banner{
        background: #222;
    }
    h1{
        color: white;
        Font-size: 4rem;
        font-weight: bold;
    }   
    .connect-with-us{
        border: none;
        background: #c78c06;
        padding: 1rem;
        font-size: large;
    }
    /* About us */
    h3{
        font-weight: bold;
    }
    .about-us{
        background: #ffe6ac;
        padding: 25px;
    }
    .common-area{
        width: 100%;
    }
    h2{
        font-size: 3rem;
        padding: 10px;
        font-weight: bold;
    }
    /* Our services */
    .our-services{
        background-color: #ffe6ac;
    }
    .button-2{
        color: white;
        background: #222;
        border: none;
        padding: 24px; 
        font-size: 18px;
        width: 100%;
    }
    h3{
        font-size: 2rem;
        padding: 15px;
    }
    .images{
        width: 100%;
    }
    /* Our Vision */
    .vision{    
        background-color: #222;
        color: white;
        padding: 10px;
        font-size: 18px;    
        border-color: #c78c06; 

    }
    /* Our Team */
    .our-team-grid{
        background: #ffe6ac;
    }
    .bob-john{
        width: 100%;
    }
    hr{
        color: solid black;
    }
    /* Contact us */
    .contact-us{
        width: 85%;
        padding: 25px;
    }
    .message-box .full-name .your-email{
        width: 85%;
    }
    .send-button{
        border: none;
        background: #222;
        color: #c78c06;
        font-size: 25px;
    }
    th{
        background-color: #ffe6ac;
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    td, th{
        border: 1px solid black;
        padding: 15px;
    }
    .google-map{
        padding: 15px;
    }
    footer .container{
        background-color: #222;
        color: #c78c06;
        padding: 20px;
    }
    footer .container p{
        padding: 10px;
    }
/* ----------------
    Desktop Styles
------------------*/
@media screen and (min-width: 760px){

    ul, li{
        display: inline;
        font-size: 20px;
    }
    /* nav */
    .search-bar .im-magnifier{
        display: flex;
        margin-left: auto;
    }
    /* Banner image */
    .orange-rectangle{
        background-color: #222;
    }
    /* About Us grid*/
    .common-area{
        width: 85%;
        padding-left: 2rem;
    }
    .container-about-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-area: 
            "one two"
            "one one"
        ;
    }
    .about-us .container-about-grid:nth-child(1){
        grid-area: one;
    }
    .about-us .container-about-grid:nth-child(2){
        grid-area: two;
    }
    /* our services */
    .our-services-grid{
        display: grid; 
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2);
        grid-template-areas: 
            "one one one two two two"
            "three three four four five five";
     }
    .our-services-grid .our-services:nth-child(1){
        grid-area: one;
    }
    .our-services-grid .our-services:nth-child(2){
        grid-area: two;
    }
    .our-services-grid .our-services:nth-child(3){
        grid-area: three;
    }
    .our-services-grid .our-services:nth-child(4){
        grid-area: four;
    }
    .our-services-grid .our-services:nth-child(5){
        grid-area: five;
    }
    .our-services{
        background-color: #ffe6ac;    
    }
    /* Our team grid*/
    .our-team-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:   
            "one two"
            "three four"
        ;
    }
    .our-team-grid :nth-child(1){
        grid-area: one
    }
    .our-team-grid :nth-child(2){
        grid-area: two
    }
    .our-team-grid :nth-child(3){
        grid-area: three
    }
    .our-team-grid :nth-child(4){
        grid-area: four
    }
    /* Contact us */
    .name-email{
        max-width: 1200px;
    }
    .message-box{
        width: 100%
    }
    /* Contact us grid */
    .contact-us-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one two"
            "three four"
        ;
    }
.hours-operation{
    padding: 25px;
}
    /* Footer */
    footer .conatiner{
        width: 100%;
    }
}
    