/* -------------------------
            CSS RESET 
---------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------
        CUSTOM STYLES  
------------------------------*/
/* ----------- 
    Mobile
--------------*/
html{
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}
    /* Navigation */
    .star-logo{
        background-color: #c78c06;
        width: 12%;
    }
    .navigation{
        background-color: #222;        
        list-style: none;
        text-decoration: none;
        padding: 50px;
        vertical-align: bottom ;
    }
    .nav-styles{
        text-align: center;
    }
    .orange-rectangle{
        background-color: #c78c06;
        padding: 20px;
    }
    ul, li{
        padding: 10px;
    }
    li:hover{
        background: #c78c06;
        padding: 15px;
    }
    li:focus{
        color: #222;
    }
    .search-bar{
        width: 25%;
        padding: 15px;
    }
    .im-magnifier{
        background: #222;
        color: #c78c06;
        padding: .5em;
    }
    .magnify-button{
        background: #222;
        border: 3px #c78c06;
    }
    /* Banner image */
    .main-banner{
        width: 100%;
        vertical-align: top;
    }
    .banner-conatiner{
        position: relative;
    }
    .banner{
        position: absolute;
        top: 15%;
        padding: 25px;
        max-width: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    h1{
        color: white;
        Font-size: 4rem;
        font-weight: bold;
        padding-bottom: 2rem;
    }   
    .intro-text{
        color: white;
        padding-bottom: 15px; 
    }
    .connect-with-us{
        border: none;
        background: #c78c06;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    /* About us */
    h3{
        font-weight: bold;
    }
    .about-us{
        background: #ffe6ac;
        padding: 25px;
    }
    .common-area{
        width: 100%;
        padding-bottom: 1.5rem;
    }
    .paragraph-padding{
        padding-top: 15px;
    }
    .h2-about{
        padding-bottom: 10px;
    }
    /* Our services */
    .top-padding{
        padding-top: 3rem;
    }
    h2{
        font-size: 3rem;
        padding: 10px;
        font-weight: bold;
    }
    .our-services{
        background-color: #ffe6ac;
        border: 7px solid white;
    }
    .button-2{
        color: white;
        background: #222;
        border: none;
        padding: 20px; 
        font-size: 20px;
        width: 40%;
    }
    .im-care-right{
        padding: 10px;
    }
    h3{
        font-size: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .yellow-box{
        padding: 10px;
    }
    .info{
        padding-bottom: 10px;
    }
    .images{
        width: 100%;
    }
    /* Our Vision */
    .our-vision, img{
        width: 100%;
    }
    .vision-paragraph{
        padding-bottom: 15px;
    }
    .vision-button{    
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 25px;
        font-size: 1.5rem;    
        border-color: #c78c06; 
    }
    .our-vision-container{
        position: relative;
    }
    .our-vision-text{
        position: relative;
        display: block;
        position: absolute;
        top: 5%;
        left: 0%;
        padding-left: 35px;
        padding-right: 35px;
        color: white;
    }
    .vision-image{
        position: relative;
        max-height: 255px;
        object-fit: cover;
        padding-top: 15px;
    }
    /* Our Team */
    .h2-team{
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
    h4{
        font-weight: bold;
    }
    .our-team-grid{
        background: #ffe6ac;
    }
    .bob-john{
        width: 100%;
    }
    .horizontal{
        border: none;
        height: 2px;
        background: #c78c06;
    }
    .word-padding{
        padding: 10px;
    }
    .white{
        border: 5px solid white;
    }
    /* Contact us */
    .contact-us{
        width: 85%;
        padding: 25px;
    }
    input[type=text]{ 
        width: 100%;
     } 
     input[type=email]{ 
        width: 100%;
     } 
    .message-box{
        max-width: 100%;
        resize: none;
        height: 50px;
    }
    .send-button{
        border: none;
        background: #222;
        color: #c78c06;
        font-size: 25px;
    }
    th{
        background-color: #ffe6ac;
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    td, th{
        border: 1px solid black;
        padding: 15px;
    }
    .google-map{
        padding: 15px;
    }
    footer .container{
        background-color: #222;
        color: #c78c06;
        padding: 20px;
    }
    footer .container p{
        padding: 10px;
    }
/* ----------------
    Desktop Styles
------------------*/
@media screen and (min-width: 760px){
    ul, li{
        display: inline;
        font-size: 20px;
    }
    /* navigation */
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .nav-styles{
        position: relative;
        bottom: 85px;
    }
    .search-bar{
        width: 50px;
    }
    .im-magnifier{
        color: #c78c06;
    }        
    .magnify-button{
        background: #222;
    }
    /* Banner image */
    .orange-rectangle{
        background-color: #222;
    }    
    /* About Us grid*/
    .common-area{
        width: 85%;
        padding-left: 2rem;
    }
    .about-us-text{
        padding-right: 2rem;
    }
    .about-us-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one two";
    }
    .about-us-grid .about-grid:nth-child(1){
        grid-area: one;
    }
    .about-us-grid .about-grid:nth-child(2){
        grid-area: two;
    }
    /* our services */
    .our-services{
        border: 5px solid white;
    }
    .our-services-grid{
        display: grid; 
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2);
        grid-template-areas: 
            "one one one two two two"
            "three three four four five five";
     }
    .our-services-grid .our-services:nth-child(1){
        grid-area: one;
    }
    .our-services-grid .our-services:nth-child(2){
        grid-area: two;
    }
    .our-services-grid .our-services:nth-child(3){
        grid-area: three;
    }
    .our-services-grid .our-services:nth-child(4){
        grid-area: four;
    }
    .our-services-grid .our-services:nth-child(5){
        grid-area: five;
    }
    .our-services{
        background-color: #ffe6ac;    
    }
    .yellow-box{
        padding: 10px
    }
    /* our Vision */
    .our-vision, img{
        width: 100%;
    }
    .our-vision-container{
        position: relative;
    }
    .our-vision-text{
        position: relative;
        display: block;
        position: absolute;
        top: 10%;
        left: 0%;
        padding-left: 35px;
        padding-right: 35px;
        color: white;
    }
    .vision-image{
        position: relative;
        max-height: 255px;
        object-fit: cover;
    }
    /* Our team grid*/
    .our-team-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:   
            "one two"
            "four three";
    }
    .our-team-grid .our-team:nth-child(1){
        grid-area: one;
    }
    .our-team-grid .our-team:nth-child(2){
        grid-area: two;
    }
    .our-team-grid .our-team:nth-child(3){
        grid-area: three;
    }
    .our-team-grid .our-team:nth-child(4){
        grid-area: four;
    }
    .word-padding{
        padding: 10px;
    }
    /* Contact us */
    .name-email{
        max-width: 1200px;
    }
    .message-box{
        width: 100%
    }
    /* Contact us grid */
    .contact-us-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one two"
            "three three";
    }
    .contact-us-grid .contact-us:nth-child(1){
        grid-area: one;
    }
    .contact-us-grid .contact-us:nth-child(2){
        grid-area: two;
    }
    .contact-us-grid .contact-us:nth-child(3){
        grid-area: three;
    }
    input[type=text]{ 
        width: 80%;
     } 
     input[type=email]{ 
        width: 100%;
     } 
    .message-box{
        max-width: 100%;
        resize: none;
        height: 50px;
    }
    .hours-operation{
    padding: 25px;
}
    /* Footer */
    footer .conatiner{
        width: 100%;
    }
}
    