/* -------------------------
            CSS RESET 
---------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------
        CUSTOM STYLES  
------------------------------*/
html{
    font-family: 'Open Sans', sans-serif;
}
/* Navigation */
.star-logo{
    background-color: #c78c06;
    padding: 1rem;
}
.navigation{
    background-color: #222;
    list-style: none;
    padding: 50px;
}
.nav-styles{
    text-align: center;
}
ul, li{
    padding: 10px;
}
li:hover{
    background: #c78c06;
}
li:focus{
    background: #222;
}
.search-bar{
    width: 85%;
    padding: 5px;
}
.im-magnifier{
background:  #c78c06;
}
/* Banner image */
.banner{
    background: #222;
}
h1{
    color: white;
    Font-size: 4rem;
}
.connect-with-us{
    border: none;
    background: #c78c06;
    padding: 1rem;
    font-size: large;
}
/* About us */
.about-us{
background: #ffe6ac;
padding: 10px;
}
h2{
    font-size: 3rem;
    padding: 15px;
}
/* Our services */
.digital-transformation{
    background: #ffe6ac;
    padding: 10px;
}
.digital-plans{
    color: white;
    background: #222;
    border: none;
    padding: 10px; 
}
h3{
    font-size: 2rem;
    padding: 15px;
}
/* Marketing */
.marketing{
background: #ffe6ac;
padding: 10px;
}
.marketing-button{
    color: white;
    background: #222;
    border: none;
    padding: 10px;
}
/* Video */
.video-production{
    background: #ffe6ac;
    padding: 10px;
}
.video-plans{
    color: white;
    background: #222;
    border: none;
    padding: 10px;
}
/* Web development */
.web-development{
    background: #ffe6ac;
    padding: 10px;
}
.web-plans{
    color: white;
    background: #222;
    border: none;
    padding: 10px;
}
/* Print */
.newspaper-stands{
    background: #ffe6ac;
    padding: 10px;
}
.print{
    color: white;
    background: #222;
    border: none;
    padding: 10px;
} 
/* Our Vision */
.vision{
    background: #222;
    color: white;
    padding: 15px;
}
/* Our Team */
.our-team{
    background: #ffe6ac;
}
hr{
    color:#c78c06;
}
/* Contact us */
.contact-us{
    width: 85%;
    padding: 15px;
}
.message-box .full-name .your-email{
    width: 85%;
}
.send-button{
    border: none;
    background: #222;
    color: #c78c06;
    font-size: 25px;
}
th{
    background-color: #ffe6ac;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid black;
    padding: 15px;
}

footer .container{
    background-color: #222;
    color: #c78c06;
    padding: 20px;
}
footer .container p{
    padding: 10px;
}